@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
input,
textarea,
button {
  font-family: 'Inter', serif;
}
